*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    width: 100vw;
    height: 100vh;
  }
  .logo{
    position: relative;
    display: inline-block;
    right: 10px;
    margin-left: 100px;
  }
.Tech {
  position: relative;
  top: -10px;
  display: inline-block;
    color: rgb(218, 165, 32);
    font-size: 30px;
    font-family: poppins;
}
.Sign1 {
  position: relative;
  top: -10px;
  display: inline-block;
    color: #000000;
    font-size: 30px;
    font-family: poppins;
    margin-left: 15px;
}
.Box {
  width: 100%;
  height: 700px;
  background-color: #F0AE2C;
}
.logo2 {
  position: relative;
  top: 700px;
  left: 0px
}
.box1 {
  position: relative;
  display: inline-block;
  top: 200px;
  left: 600px;
  width: 500px;
  height: 600px;
  border-radius: 10px;
  background-color: white;
}
  .big-square {
    width: 100%;
    height: 20px;
    background-color: white;
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .PhoneNumber {
    position: absolute;
    width: 400px;
    height: 50px;
    padding: 1rem;
    border-radius: 0px;
    outline: 2px;
    color: gray;
    z-index: 1;
    font-size: 30px;
  }
  .phone {
    position: absolute;
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
  }
  .Button {
    position: relative;
    display: inline-block;
    top: 100;
    left: 150;
    background-color: #F0AE2C;
    font-size: 40px;
    width: 200px;
    color: white;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .or {
    position: relative;
    display: inline-block;
    top: 150;
    left: 80;
    font-size: 20px;
    margin: 0;
  }
  .line1 {
    position: relative;
    display: inline-block;
    top: 145;
    left: 50;
    width: 150px;
    border: 1px black solid;
    z-index: 1;
  }
  .line2 {
    position: relative;
    display: inline-block;
    top: 145;
    left: 110;
    width: 150px;
    border: 1px black solid;
    z-index: 1;
  }
  .searchTerm:focus{
    color: #474747;
  }
  .Fb {
    position: relative;
    display: inline-block;
    top: 180;
    left: 15;
    height: 50;
    width: 200;
    background-color: #F0AE2C;
  }
  .Fb1 {
    position: relative;
    display: inline-block;
    top:-15;
    left: 10;
    font-size: 25px;
  }
  .Fb1 a {
    text-decoration: none;
    color: black;
  }
  .Google {
    position: relative;
    display: inline-block;
    top: 180;
    left: 76;
    height: 50;
    width: 200;
    background-color: #F0AE2C;
  }
  .Google1 {
    position: relative;
    display: inline-block;
    top:-15;
    left: 10;
    font-size: 25px;
  }
  .Google1 a {
    text-decoration: none;
    color: black;
  }
  .P1 {
    position: relative;
    display: inline-block;
    width: 280px;
    text-align: center;
    top:190;
    left: 100;
  }
  .p2 {
    position: relative;
    display: inline-block;
    width: 280px;
    text-align: center;
    top: 250;
    left: 100;
  }
  .P3 {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: white;
    margin-left: 70px;
    margin-top: 10px;
  }
  .P4 {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: white;
    margin-left: -45px;
    margin-top: 10px;
  }
  .wrap{
    width: 30%;
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
